<main>
    <form (ngSubmit)="onSubmit()" class="blog-form">
        <h1 class="text-center">Create Your Blog Here</h1>
        <div class="form-group">
            <label for="title">Blog Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="blog.title" required placeholder="Enter your blog title">
        </div>
    
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" [(ngModel)]="blog.author" required placeholder="Enter author's name">
        </div>
    
        <div class="form-group">
            <label for="image">Blog Image:</label>
            <input type="text" id="image" name="image" [(ngModel)]="blog.image" required placeholder="Enter image URL">
        </div>
    
        <div class="form-group">
            <label for="content">Blog Content:</label>
            <textarea id="content" name="content" rows="5" [(ngModel)]="blog.content" required placeholder="Write your blog content"></textarea>
        </div>
    
        <div class="form-group">
            <label for="tags">Tags (comma-separated):</label>
            <input type="text" id="tags" name="tags" [(ngModel)]="blog.tags" placeholder="e.g., technology, programming">
        </div>
    
        <div class="form-group">
            <button type="submit" [disabled]="isFormEmpty()" style="background-color: rgb(2, 84, 156);">Submit Blog</button>
        </div>
    </form>
    
</main>
